* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* FONT FACE */
@font-face {
  font-family: "Montserrat Regular";
  src: url("../../assets/fonts/montserrat/Montserrat-Regular.ttf");
}

body {
  font-family: "Montserrat Regular", sans-serif;
  color: #333a73;
  background: #f3f3f3;
}

div#top-waves {
  position: absolute;
  top: 0;
  z-index: 9;
}
div#top-waves > img {
  background-image: url("assets/images/waves1.svg");
  width: 100vw;
  height: 100%;
}
div#top-waves > img#ellipse {
  height: fit-content;
  position: absolute;
  top: 0;
}
/* div#top-waves > #ellipse:first-child {
  width: 5vw;
  left: 10%;
} */
div#top-waves > #ellipse:nth-child(2) {
  width: 7vw;
  left: 40%;
}
div#top-waves > #ellipse:last-child {
  width: 14vw;
  right: 10%;
}

div#bottom-waves {
  position: absolute;
  bottom: -10vh;
}
div#bottom-waves > img {
  width: 100%;
  margin-bottom: -0.3em;
}

#mobile-screen-only {
  display: none;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 1.5em;
  font-weight: 700;
}
#mobile-screen-only code {
  font-weight: bolder;
  background-color: orange;
  padding: 0.5em 0.8em;
  margin: 0 0.3em;
  border-radius: 0.5em;
  color: #333a73;
}

/* MEDIA QUERY */
@media (min-width: 768px) {
  #mobile-screen-only {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
  }
}
